[2017-06-26 05:57] ankane opened #1 "TODO / Ideas"
0.4.0

- [x] Update to pg_query 2
- [x] Drop support for Ruby < 2.5 (2.5 is EOL but Ubuntu 18.04 uses it)

Ideas

- [ ] determine write-heavy tables automatically
- [ ] notifications when indexes found (email & Slack)
- [ ] only create indexes at certain times of day (low traffic times) - one approach is to run Dexter daily instead of stream
- [ ] option to write created/suggested indexes to table

[2017-06-27 02:27] MatiasFMolinari commented on #1
This is great! Thank you.
+1 for determining write-heavy tables 🙌

[2017-06-28 18:23] fvictorio opened #2 "Possible error with columns with upper case characters"
Hello, I tried dexter and I ran into this problem:

I installed and executed it, and tried to do a couple of queries in my DB. Then I got this error:

[code]

I have a `fromId` column, not a `fromid`. Is it possible that the column names are not being surrounded with double quotes? I am not sure if this is a problem with dexter, hypopg or pg_query.

Hope that helps.

[2017-06-29 20:36] booleanbetrayal commented on #1
+1 for multi-column indexes, as this would cover a significant amount of our existing index definitions. Would love to use Dexter to validate certain assumptions, but probably can't until that goes in.

[2017-06-30 01:57] #2 closed

[2017-06-30 01:58] ankane commented on #2
Hey @fvictorio, thanks for reporting 👍  Fixed on master.

[2017-06-30 18:30] fvictorio commented on #2
Thanks! Could you add a section in the Readme with instructions for building dexter? I have no idea how to build and execute a Ruby project.

[2017-07-01 02:30] ankane commented on #2
Good idea. Added.

[2017-07-05 03:39] saifulmuhajir opened #5 "log_min_duration_statement value"
Does log_min_duration_statement value has to be 10 or it can be modified to some other numbers? 100 or 500 maybe?

Thank you for this cool project.

[2017-07-05 16:49] ankane commented on #5
Hey @saifulmuhajir, you can set it to whatever value you'd like.

[2017-07-05 16:49] #5 closed

[2017-07-10 22:10] jberkus opened #6 "Suggestion for handling write-heavy tables"
You can add support for omitting write-heavy tables automatically if you just take a simplified ratio approach:

1. Have the user supply a ratio, with a default of "3.0:1.0"
2. Compare the total number of read to the number of writes on the table using pg_stat_user_tables.
3. If reads:writes is less than the ratio, do not index.

Yes, it would be ideal to use some cool heuristic which compared the

[2017-07-20 18:43] loveencounterflow opened #7 "What is a 'database URL'?"
To me, it is not clear what is meant by "a database URL". Just one example would totally suffice to get started; without one, I stumped.

[2017-07-20 18:57] loveencounterflow commented on #7
**Update** I got started with

[code]

The `sudo` part is there to enable `create extension`; coming to think of it, it might be better to use

[code]

The second variant uses the fact that the `postgres` user is probably available to the current user (on Debian / Ubuntu / Mint-like distros) by using their own password to obtain `sudo` rights. Of course, that only works for a local database.

BTW

[2017-07-28 04:16] ankane commented on #6
Hey Josh, honored to have your input on a project. Huge thanks for your contributions to Postgres!

I really like the simplicity of this idea. For the case when stats are reset, we can probably wait for a period of time afterwards. I'll do some investigation into practical examples to see how things look.

And while I have your attention: mind if I include your [index bloat query](https://gist.git

[2017-08-01 00:58] jberkus commented on #6
Go for it, that's why I made it a public GiST.  Check for the potential improvements in the comments, though.

[2017-08-14 03:16] ankane commented on #7
Hey @loveencounterflow, thanks for the feedback 👍  I updated the readme. Let me know if it's more clear.

If logging is set up correctly, Dexter will output that it's found new query fingerprints.

[code]

[2017-08-14 03:16] #7 closed

[2017-08-24 23:32] stevelacy opened #8 "Add option --include"
We have a db with many tables, several that should be inspected individually.
Would you be willing to accept a PR to add an option flag `--include` to only include specific tables?

I added a commit to my fork, but am not sure if that is the best way to do the filter since I am not a ruby programmer. https://github.com/stevelacy/dexter/commit/d5cbad9f8dfd74aca60f14a6f0c0e92ed30b08f6

[2017-08-25 03:25] ankane commented on #8
Hey @stevelacy, looks great 👍 Feel free to submit a PR.

[2017-08-26 23:47] #8 closed

[2017-08-28 05:25] ankane commented on #7
And version 0.2.0 added support for the same connection options as `psql` 🎉

[2017-09-04 22:55] maob85 opened #10 "Unexpected Error"
Hi, I've just installed dexter on my Centos7/PostgreSQL 9.6 server and tried to parse one log file, it pass first process but then it stops with the following error:

/opt/dexter/vendor/bundle/ruby/2.3.0/gems/pg_query-0.13.2/lib/pg_query/parse.rb:207:in `block in load_tables_and_aliases!': undefined method `map' for nil:NilClass (NoMethodError)

Can anybody help me fix this issue?

Regards!

[2017-09-04 22:57] ankane commented on #10
Hey @maob85, can you paste the full stack trace?

[2017-09-04 22:59] maob85 commented on #10
Started
Processing 1053 new query fingerprints
No new indexes found
Processing 1954 new query fingerprints
/opt/dexter/vendor/bundle/ruby/2.3.0/gems/pg_query-0.13.2/lib/pg_queryrse.rb:207:in `block in load_tables_and_aliases!': undefined method `m for nil:NilClass (NoMethodError)
Did you mean?  tap
        from /opt/dexter/vendor/bundle/ruby/2.3.0/gems/pg_query-0.13.2b/pg_query/parse.rb:186:in `lo

[2017-09-04 23:24] ankane commented on #10
Hey @maob85, I've added some debugging on master. Can you try it with:

[code]

[2017-09-04 23:41] maob85 commented on #10
I've installed Dexter according to https://github.com/ankane/dexter/blob/master/guides/Linux.md as follows (after installing Hypo):

CentOS / RHEL 7

sudo wget -O /etc/yum.repos.d/dexter.repo \
  https://dl.packager.io/srv/pghero/dexter/master/installer/el/7.repo
sudo yum install dexter

I don't have gem installed (i'm no a ruby user) but I'll check how to install it if needed.

[2017-09-04 23:45] ankane commented on #10
I've updated the package. It'll probably be 10-15 minutes before the build completes. https://packager.io/gh/pghero/dexter

[2017-09-05 00:31] maob85 commented on #10
Ok, i've reinstalled your package and rerun it... After first process it shows this (notice Error extracting tables.):

No new indexes found
Processing 1954 new query fingerprints
Error extracting tables. Please report to https://github.com/ankane/dexter/issues/new
SELECT c.oid, a.attnum, a.attname, c.relname, n.nspname, a.attnotnull OR (t.typtype = 'd' AND t.typnotnull), pg_catalog.pg_get_expr(d.

[2017-09-05 01:36] ankane commented on #10
Thanks, the error looks like an issue w/ PgQuery. It looks like things are running normally. If you don't want Dexter to continuously watch the file, you can use:

[code]

instead of `tail`. Also, if you didn't get any suggestions, you can use the `--log-level debug2` option to debug why.

[2017-09-05 01:37] maob85 commented on #10
Oh! I see... Thank you very much... I'll make some test with my db then....

Regards!

[2017-09-05 01:37] #10 closed

[2017-09-05 01:55] maob85 commented on #10
Sorry to bother you again.. Running it with log-level as you suggested I can see this message "No new indexes found
--------------------------------------------------------------------------------
Query 0177e78f9dfe6302b2138e7b4e1d65cca56e5b46f8
Could not run explain
"

[2017-09-05 02:16] ankane commented on #10
Hey @maob85, that's expected for some queries. If it's happening for all queries, there's likely another issue at play.

[2017-09-05 13:05] maob85 commented on #10
Ok. I'll keep testing and inform you if there is something new.

Again, thank you so much

El 4 sept. 2017 10:16 p. m., Andrew Kane <notifications@github.com> escribió:

Hey @maob85<https://github.com/maob85>, that's expected for some queries. If it's happening for all queries, there's likely another issue at play.

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2017-09-20 13:41] embrance opened #11 "Error extracting tables."
I have multiple databases on one postgresql instance, default postgresql configuration, Centos 7

used command:

Output:

Error extracting tables. Please report to https://github.com/ankane/dexter/issues/new
SELECT c.oid, a.attnum, a.attname, c.relname, n.nspname, a.attnotnull OR (t.typtype = 'd' AND t.typnotnull), pg_catalog.pg_get_expr(d.adbin, d.adrelid) LIKE '%nextval(%' FROM pg_catalog.pg_cla

[2017-09-21 15:40] ankane commented on #11
Hey @embrance, thanks for reporting 👍  Can you try updating to the latest version (`7423139c3`) and running it with `--log-level debug3`? Trying to see which statement it is getting stuck on.

[2017-09-26 08:25] embrance commented on #11
Hi, thanks for reply :)

debug info:
[code]

anyway query is stupid and we must fix it ;)

[2017-09-28 03:52] ankane commented on #11
Hey @embrance, I'm not sure what the issue is. I put together [this gist](https://gist.github.com/ankane/889930806a596af2c175284a42c63c37) of the logic and can't reproduce.

[2017-10-30 07:04] ankane commented on #11
Hey @embrance, this issue is getting stale, so going to close. Please let me know if you have any updates.

[2017-10-30 07:04] #11 closed

[2017-10-31 08:00] askl56 opened #12 "Saying HypoPG is not installed?"
Hi,

I've gone through the instructions and installed HypoPG on OSX but when I try to set up the extension in psql i get:

[code]

Any ideas?

[2017-10-31 09:08] ankane commented on #12
I've seen this error when HypoPG isn't fully installed. Make sure that `sudo make install` worked.

[2017-10-31 09:20] askl56 commented on #12
[code]

[2017-10-31 09:23] ankane commented on #12
Looks like it's installing it in a different instance of Postgres on your machine (a Homebrew one). This is determined by the `pg_config` command.

[2017-11-13 00:17] #12 closed

[2017-12-21 15:11] jfinzel opened #13 "Support other log formats"
Most (at least many) users of postgres in production use csvlog format, and it appears dexter does not support this.  Also, other tools used required csv format such as pgbadger.  This means I can't feed our production logs into dexter and so effectively I can't use it (unless I reformat the log files manually).

Can this support be added for csv format (and other log_line_prefix settings)?

[2017-12-21 15:22] jfinzel opened #14 "Obvious cases don't work"
I have gotten dexter to work for me, but in throwing some obvious cases at it, it's not giving me new indexes.  I have a snapshot of production I am running in which I have dropped every index except primary keys.  I am trying to see if dexter can build me only the indexes I need.

I am running:
`PostgreSQL 9.6.6 on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 2016060

[2017-12-21 16:15] jfinzel opened #15 "No support for schema names"
Diving into why dexter was not working, there appear to be vast assumptions in the code about no differing schema names.  This simply won't work and is why I am getting in my log files: "No candidate tables for indexes".  Queries and tables have to be fingerprinted taking into account `search_path` and allowing for differing schema names.  Not only do most of our queries use qualified schema names

[2017-12-21 16:20] jfinzel opened #16 "Assumptions about pg_stat_statements not mentioned in docs"
pg_stat_statements is not on by default in Postgres.  In fact, the library has to be loaded with the server and is an extension that has to be installed.

It also can be cleared out very easily on a busy system, and thus is in no way guaranteed to contain the query in your logfile.  So there are 2 issues here:

* It is not mentioned in the docs that the pg_stat_statements extension is required
* I

[2017-12-21 16:23] jfinzel opened #17 "Dexter runs ANALYZE with no warning and no docs"
There are reasons not to simply run `ANALYZE` automatically on massive tables, which dexter does without any note in the docs.  At the very least, there needs to be a warning in the docs that you will automatically run analyze on tables out of date by whatever amount of time.

And it's not a good idea.  It would be better to remove this code entirely, and suggest in the docs that DBAs freshly anal

[2017-12-21 17:00] ankane commented on #13
Hey @jfinzel, big thanks for all the feedback 💯

Supporting more log formats makes sense and shouldn't be too difficult. I'll try to add this in the next week.

[2017-12-21 17:01] ankane commented on #14
Hey @jfinzel, can you run with `--log-level debug2` and share the output?

[2017-12-21 17:03] ankane commented on #15
Hey @jfinzel, I'll revisit schema support in the next week or so. Do you have an example that isn't working?

[2017-12-21 17:05] ankane commented on #16
Hey @jfinzel, `pg_stat_statements` is one option an alternative to logs as the source of queries. Is there something that makes you think it's required?

[2017-12-21 17:30] jfinzel commented on #14
Thanks for all your responses - I'm glad to see willingness to improve!

This is related to the schema_name issue.  However, I tried to workaround it using `search_path` with no success.  Here is the example (I am masking my names):

[code]

Here is my 2 SQL statements (I made the schema for this table in search_path):
[code]

Here is Dexter output:
[code]

[2017-12-21 17:34] jfinzel commented on #16
I misread your code.  I'm not super great at ruby :).

Can you at least add something brief on the docs related to it, if it's supported?  I searched there and didn't find any mention of it.  Thanks.  You can close this.

[2017-12-21 17:41] jfinzel commented on #15
Yes - the logs simply show "no candidate tables found".  If you see https://github.com/ankane/dexter/issues/14 this should give you what you want.

Here's a contrived example:
[code]

Here is dexter output:
[code]

[2017-12-21 17:47] jfinzel commented on #6
I'm not sure this feature would be helpful.  It is easy enough to figure out the difference between reads and writes and say "Therefore, I don't want to index this table".

But that's not nearly the only factor.  It's not all about total overall query time (writes + reads), but things like page response time.  You may still want really fast read queries even with tons of writes.

Looking at perfor

[2017-12-21 17:47] ankane commented on #15
Awesome, thanks!

[2017-12-21 19:06] jberkus commented on #6
@jfinzel workloads vary.  For *some* users write-heavy tables are segregated.  But there's a lot of databases out there which consist, essentially, of One Big Table which is both write and read heavy.

[2017-12-21 19:12] jfinzel commented on #6
I'm not suggesting ignoring write activity, but I am suggesting that I hesitate to ignore read activity.  For situations like you describe, I think the right solution is to be very selective about which indexes you build, but to still support all read queries that you have.

If you really don't need super fast read response time, things like BRIN indexes can help you solve both problems perhaps be

[2017-12-21 19:15] jfinzel commented on #1
What about partial indexes - especially for low cardinality fields?  You use pg_statistics to help with that.  I haven't checked if these are supported as suggestions but I am guessing not yet?

[2017-12-21 19:19] jberkus commented on #6
Well, AFAIK, nobody has written any code to this suggestion since I made it, so this is a rather academic discussion.

However, as I understand it, the goal of Dexter is to automate indexing for 80% of users (or 80% of indexes).  Ignoring write activity, or making all high-write tables off-limits, doesn't fulfill that goal.

[2017-12-21 19:47] jberkus commented on #6
However, this does lead me to think that there is a 2nd heuristic which could be applied without being more complicated.

* for each query we already know the difference in read cost per HypoPG.
* compare this difference in cost against the following formula:

[code]

Where:

* rc1 = read cost with hypo index
* rc = read cost without hypo index
* F = write factor, a user-supplied multiple, default

[2017-12-22 02:40] #16 closed

[2017-12-22 03:17] #13 closed

[2017-12-22 03:18] ankane commented on #13
Hey @jfinzel, I added support for csv format. `log_line_prefix` isn't needed, as this is automatically stripped in the current implementation.

[2017-12-22 23:23] ankane commented on #15
Added schema support on master.

[2017-12-22 23:23] #15 closed

[2017-12-22 23:25] ankane commented on #14
Hey @jfinzel, can you install master and see if it works as expected?

[code]

[2017-12-23 05:14] #17 closed

[2017-12-23 05:17] ankane commented on #17
Hey @jfinzel, that's fair. I've updated the default behavior to not `ANALYZE`.

[2017-12-26 08:15] kirantpatil opened #18 "dexter on postgresql 10"
Hi,

Can we use dexter with postgresql 10 ?

Since, postgresql 10 relased with lots of new features.

Anybody using dexter on postgresql 10 ?

Thanks.

[2017-12-26 16:28] jfinzel commented on #14
@ankane as I said, I don't have much of a ruby dev env.  I tried, but failed, running into this issue: https://github.com/rdp/specific_install/issues/21

[code]

I'm not too thrilled about figuring this env problem out.  Is it difficult for you to package the ubuntu xenial packages?  I normally download these actual debian package files and install them using dpkg.  If you have any suggestions as

[2017-12-26 16:46] ankane commented on #14
@jfinzel Package instructions are here: https://github.com/ankane/dexter/blob/master/guides/Linux.md

[2017-12-26 16:48] ankane commented on #18
@kirantpatil Dexter works great with Postgres 10. Give it a shot!

[2017-12-26 16:48] #18 closed

[2017-12-26 17:10] jfinzel commented on #14
Beautiful.  Didn't realize that the packages were available already.  Thanks.  I will get back to you.

[2017-12-26 17:43] jfinzel commented on #14
It appears to be working now!
[code]

[2017-12-26 18:07] ankane commented on #14
Great, going to close this out. Thanks again for all the great feedback (across all the issues you opened), and let me know if anything else comes up as you're using it. 💯

[2017-12-26 18:07] #14 closed

[2017-12-26 21:48] jfinzel opened #19 "Error using --input-format csv"
@ankane I am getting an error trying to try csv logs.  Am I doing it wrong?
[code]

This is related to: https://github.com/ankane/dexter/issues/13

[2017-12-27 06:32] ankane commented on #19
@jfinzel Should be fixed on master.

[2017-12-27 16:13] jfinzel commented on #19
@ankane no error, but it still does not work with this format.  Try feeding this log input for your testing:
[code]

This is all that happens for me with this format:
[code]

[2017-12-27 22:20] ankane commented on #19
Try once more with latest package.

[2017-12-28 21:18] jfinzel commented on #19
Nope, it's still doing the same thing as above.

[2017-12-28 22:28] jfinzel commented on #19
If you want to run a test on a database configured like ours, try this for `postgresql.conf`:
[code]

[2017-12-29 02:23] ankane commented on #19
Yeah, that's the right version. Maybe try:

[code]

[2017-12-29 14:47] jfinzel commented on #19
@ankane it works!  Sorry my last try I think was user error - tailing the logs from the wrong cluster :(.  This is great - I am now going to throw some serious log output at it - let's see how it does :).

[2017-12-29 14:47] #19 closed

[2017-12-29 15:27] jfinzel opened #20 "Dexter doesn't handle new lines in SQL"
Only the SQL on the first line of the following query is evaluated by dexter:
[code]

The log file line:
[code]

All dexter shows is this:
[code]

[2017-12-29 16:09] jfinzel opened #21 "Parameterized queries not supported"
Parameterized queries such as shown in the following line are not supported, as the SQL statement alone is taken yet the parameters are not injected:
[code]

This is all dexter shows:
[code]

You probably have the same issue with prepared statements, but I haven't checked yet.

[2017-12-29 17:39] ankane commented on #21
Hey @jfinzel, last night's release (`0.3.1`) added support parameterized queries. Please give that a shot.

[2017-12-29 18:11] ankane commented on #20
Thanks @jfinzel 👍  Fixed in the latest package. I've also updated my production Postgres server to use csvlog format, so should be able to catch more on these basic issues in the future.

[2018-01-02 21:31] jfinzel commented on #21
This appears to be working now, many thanks!

[2018-01-02 21:31] #21 closed

[2018-01-02 21:35] jfinzel commented on #20
This appears to be working - many thanks :).

[2018-01-02 21:35] #20 closed

[2018-01-02 21:46] jfinzel opened #22 "Dexter skips some statements and also stops silently and doesn't finish processing file"
First of all, I notice the following statement is just ignored - note that parameter 7 is a massively long string with thousands of characters.  I would expect fake field f15 to be indexed for this statement:

[code]

Also, Dexter appears to be stopping and not going through my whole log file, but there is not any indication of error or anything.  This is a big log file with 105000 lines.  After i

[2018-01-03 04:44] ankane commented on #22
Hey @jfinzel, the regex was looking for `execute <unnamed>` instead of `execute S_71`. That's been fixed now, and likely the reason some queries are missing. A few questions about the exiting early:

1. Are you running in streaming mode (piping to it)? Does what happens if you do `dexter <connection-options> <file1>`?
2. What is the exit code the command returns when it exits early?

Thanks again

[2018-01-03 16:55] jfinzel commented on #22
@ankane I am already doing `dexter <connection-options> <file1>` to run this.

It appears that it is exit code 0, meaning it's perhaps not recognizing or notifying an error here?  After the script exits:
[code]

[2018-01-03 17:09] ankane commented on #22
If that's the case, I don't think the script is exiting early. Index suggestions/creating indexes are only performed once the entire file has been processed in non-streaming mode. It may just be an issue with the query collection process, which hopefully the latest package fixes.

[2018-01-03 18:03] ankane commented on #22
Great, glad we were able to make significant improvements to the log parsing. Curious to hear how the index suggestions turn out.

[2018-01-10 12:25] Anthares commented on #1
Hi @ankane,

Great work so far on pghero and dexter, thanks :)
I was wondering if there is plans to implement dexter to Slack connectivity in a near future.
Because we'd rather use dexter for automatic missing index detection and notification. Slack notification would be far more convenient than tailling the logs.

Thanks,
Anthares

[2018-01-29 15:04] GeekOnCoffee opened #23 "Appears to fail with pg-stat-statements"
Setup Logs:
[code]

Seeing a large collection of these:
[code]
When I look at the queries being run https://github.com/ankane/dexter/commit/afcb7222f8cc7568529a4f46c9bfb14d287bdbb0#diff-0b08b6751f5dc6621f1755f87993ee89R299 it appears that it's getting the query with the placeholders. It doesn't look like there's anything in that table containing them.

Is there some configuration to pg-stat-statem

[2018-01-29 16:39] ankane commented on #23
Hey @GeekOnCoffee, as far as I know, there's no way to get pg_stat_statements to store the placeholder values, so Dexter can't optimize queries that have them. For this reason, logs are a better option. What was the trouble with logs?

[2018-01-29 16:45] GeekOnCoffee commented on #23
Gotcha. I'll revisit getting logs working. Probably would be worth adding a note about that in the pg_stat_statements section, as if you're using Rails (or likely other things like it), this won't work. It'd also be nice seeing some sort of output without the debugging indicating that it wasn't able to do anything with x queries, if I didn't know to look at the debugging, I would have thought I wa

[2018-01-30 06:57] ankane commented on #23
Added a note to the readme about pg_stat_statements. I'm a bit hesitant to add output about not being able to process certain queries by default. This will happen even when Dexter is running fine (for instance `set` queries aren't explainable) and think it may confuse people.

[2018-01-30 14:09] GeekOnCoffee commented on #23
👍 I did get logs outputting, I haven't yet gotten suggestion improvements, but I haven't had time to investigate that, so it might be operator error.

Long term, it might make sense to break those into a few categories:
Total Queries
Total Processable Queries (Excluding `set`, etc which we know can't be explained)
Total Queries Processed

This can be closed, and I'll open a new one if I have addit

[2018-01-30 14:09] #23 closed

[2018-02-12 18:08] jfinzel opened #24 "Indexes with clear benefit not picked up"
Here is one case of a query with an index not being picked up.  I was expecting an index on a timestamp field which filters out over 90% of the data.

SQL:
[code]

Plan (it said no indexes found):
[code]

Plan after I created an index on created_on:
[code]

[2018-02-12 18:35] jfinzel commented on #24
Here is another case.  Original query actually times out after 12 hours (lots of data here).  Obvious missing customer_id index in the left join lateral.  It has to do a seq scan in each loop:
[code]

Plan (dexter says no indexes found):
[code]

After I manually create index on customer_id:
[code]

[2018-02-12 18:36] ankane commented on #24
Thanks @jfinzel, can you share the `--log-level debug2` output for each of them?

[2018-02-12 18:48] jfinzel commented on #24
It looks like you are close on both counts - would love if cost savings is configurable!  Very interested why the second query here shows the massive cost savings but doesn't do it.

[code]

[2018-02-12 19:07] ankane commented on #24
For query 1, it may make sense to have an absolute cost savings in addition to a percentage, as 30% can be significant if a query has a very high cost.

For query 2, the cost savings is driven by two indexes, and Dexter doesn't have a good way to figure out if both are really needed at the moment. This has led to poor index suggestions in my experience, so it won't suggest for now. Definitely an a

[2018-02-12 20:27] jfinzel commented on #24
@ankane regarding case 2, I would suggest that dexter tries adding the indexes one at a time and checking cost.  I can tell you the customer_id index is 1000x more important than the person_id index here.  But you could tell that very easily if you added them in order.

Also, there are certainly going to be cases where a query could benefit from more than 1 index being added.  I haven't yet provid

[2018-02-19 21:25] jfinzel commented on #24
@ankane any update or at least ETA on this?

[2018-02-20 00:43] ankane commented on #24
Hey @jfinzel, both cases should be addressed now. There's now a `--min-cost-savings-pct` option.

[code]

Let me know how it goes.

[2018-02-20 16:59] jfinzel commented on #1
@ankane does it support creating indexes when queries only use views?  I have a particular system where almost all user queries are pointed to views, thus of course indexes can only apply to the tables underneath.  This would be very useful.

[2018-02-21 01:26] ankane commented on #1
@jfinzel Just added support for views and materialized views.

[2018-03-01 01:29] ankane commented on #24
Hey @jfinzel, have you had a chance to try the latest version?

[2018-03-07 17:04] jfinzel commented on #24
@ankane I have been busy but am now getting around to this.  I have updated to latest version and will let you know how it goes.  Many thanks again!

[2018-03-07 17:07] jfinzel commented on #1
@ankane now that I am finding this working, I have another thought.  It would be nice to run this and save the query_id, initial cost, pass costs, sql and suggested index.  The reason is for additional analysis - I want to see how many queries end up suggesting the same index before creating one.

It already is very useful as-is, but would be a "nice to have" to have something like an output forma

[2018-03-16 15:56] RalfLackinger opened #25 "Running into JSON::NestingError"
Hello,

I encounter the following error when running my log file with dexter:
[code]

This is happening when dexter is processing a very large query:
[code]
Setting `--log-level debug2` didn't show any additional output.

The error looks to me like there is a limitation in a Ruby library you are using. Is there anything I can do about this issue?
Please let me know if I can provide you with more i

[2018-03-16 16:20] ankane commented on #25
Hey @RalfLackinger, thanks for the detailed report. I've bump max nesting from 100 to 1000 (didn't even realized it had a limit), and it now handles the error more gracefully. Can you try master or the latest package to see if that fixes it?

[2018-03-16 16:43] RalfLackinger commented on #25
@ankane Thanks for the quick response and patch. I didn't get any more errors after using the new version from master. Worked just fine.

I only ran into some problems with installing the new version, I'm not really familiar with Ruby and it's environment :)

[2018-03-16 16:47] RalfLackinger commented on #25
Sorry, don't know if I should close it or you want to add this patch first to a release and then close it yourself. You can at least few this as resolved from my side with your code change.

[2018-03-16 16:48] ankane commented on #25
Sweet, we can close it out.

[2018-03-16 16:48] #25 closed

[2018-03-21 14:55] alexanderadam opened #26 "Installation via package does not work"
First of all: dexter is awesome! I like the idea and how it's done. This is wonderful! So thank you for dexter.

I tried to install dexter within [the official Postgres Docker container](https://hub.docker.com/_/postgres/) and everything went fine until I actually tried to run dexter. It resulted in an error that looks a bit [like a old bundler error](https://github.com/bundler/bundler/issues/2104

[2018-03-21 15:17] alexanderadam opened #27 "Argument parsing doesn't seem to work as explained in the readme"
Other than [explained in the readme](https://github.com/ankane/dexter#connection-options) this won't use user `postgres`:

`dexter -U postgres -p 5432 -d database`

but this will:

`dexter postgresql://postgres@localhost:5432/database`

[2018-03-21 16:17] #27 closed

[2018-03-21 16:17] ankane commented on #27
Hey @alexanderadam, thanks for reporting 👍 Fixed on master.

[2018-03-21 16:21] ankane commented on #26
Hey @alexanderadam, thanks for another report 👍 Which platform are you on? My guess is the package is missing a dependency for that platform.

[2018-03-22 10:15] alexanderadam commented on #26
It's the official [Postgres 9.4 Docker container](https://github.com/docker-library/postgres/blob/61e369ce3738e38386fa01ce4809c2304e76257c/9.4/Dockerfile) (Debian Jessie).

[2018-03-22 10:15] alexanderadam commented on #27
Awesome, thank you for your blazingly fast response :+1:

[2018-03-22 16:41] ankane commented on #26
Hey @alexanderadam, I'm unable to repro. Can you share the Dockerfile you're using?

[2018-03-22 17:27] alexanderadam commented on #26
I did not create a separate Dockerfile. I just used the linked one and executed this within the container for development purposes:

[code]

[2018-03-23 03:16] ankane commented on #26
Any reason you're installing the Debian 9 package instead of just 8? The following works fine for me with the `postgres:9.4` image:

[code]

[2018-03-23 08:18] alexanderadam commented on #26
Oh, that was indeed by accident. My fault, sorry. 😳

[2018-03-23 08:18] #26 closed

[2018-04-10 06:36] ankane commented on #24
Hey @jfinzel, going to close this out. Let me know if you find anything.

[2018-04-10 06:36] #24 closed

[2018-08-17 09:49] alexandervlpl commented on #1
+1 for "non-BTREE indexes", specifically GiST!

@ankane This is amazing work, I wish I could already use Dexter to GiST index my PostGIS databases. The potential to improve the performance of OpenStreetMap and other map services would be enormous!

[2018-10-17 13:38] tom-lord commented on #12
To add to the above answer, I was struggling to correctly install HypoPG on a machine (actually a docker container) with multiple versions of postgres. I found this solution very helpful:

https://stackoverflow.com/a/43403193/1954610

[2019-02-26 11:22] livingsilver94 opened #28 "Need 50% cost savings to suggest index"
Hello,
I have a pretty easy yet slow query I'm trying to speed up. Dexter doesn't find more indexes to help speeding it up and with `--log-sql --log-level debug2` it returns "Need 50% cost savings to suggest index". What's the meaning of this?

[2019-02-26 20:30] ankane commented on #28
Hey @livingsilver94, that means it found an index, but the index didn't provide enough cost savings (based on EXPLAIN) to be recommended.

[2019-02-26 21:12] livingsilver94 commented on #28
Thanks a lot! Definitely helping :smile:

[2019-02-26 21:12] #28 closed

[2019-04-10 13:46] debnet opened #29 "Dexter don't detect anything"
Running dexter over my database (PostgreSQL 11.2) doesn't seems to detect anything, passing by the logs or by pg_stat_activity. No errors though, just wont detect anything at all...

[code]

whereas my logs looks like the following:

[code]

[2019-04-10 19:06] ankane commented on #29
Hey @debnet, the regex used for log parsing only checks for English messages (it expects `lc_messages` to be ` en_US.UTF-8`).

https://github.com/ankane/dexter/blob/cfd3af85eff3cd48801b87f4c4df8cc104aaaf7d/lib/dexter/log_parser.rb#L5

You can try piping the file through `sed` to get it to match the expected format.

[code]

[2019-04-11 09:06] debnet commented on #29
Oh, OK. Good to know, an addition of that point into the documentation could be handy for the others. ;)

[2019-04-24 06:58] #29 closed

[2020-03-18 14:06] darthf1 opened #30 "syntax error at or near "ANALYZE" at character 23"
Hi! I'm trying to use Dexter. I got Dexter to run and it started to analyze the log. It found new fingerprints, but I didn't see any index generation. This could of course be a good thing, but when I ran it again with `--log-level debug2` I saw some strange things.

Below it says `Could not run explain`.
[code]
If I check the postgresql log file, I noticed the following lines:
[code]
I don't know

[2020-03-18 21:29] ankane commented on #30
Hey @darthf1, thanks for reporting! Those errors aren't anything to worry about. Dexter tries to analyze every statement, but some like `EXPLAIN` statements can't be analyzed, so it skips them.

[2020-04-05 23:13] #30 closed

[2020-04-13 18:59] sfkeller opened #31 "Add Docker configuration"
Dockerize:

Add Docker config, like here https://gitlab.com/geometalab/dexter-pg-bench-dockerized

P.S. No updates on this nice project since years?

[2020-04-13 21:04] sfkeller opened #32 "Dexter to suggest to create or to create an extended statistics entry about a functional dependency"
This is perhaps out-of-scope but still worth mentioning as a nice feature:

Optimization assumes that column are independent, so a query plan can go wrong not because of a missing index, but because the optimizer doesn't know about functional dependencies (FD) between columns.

Real world datasets often have FD between columns because of denormalization or just because the data is like this.

Post

[2020-04-14 00:43] ankane commented on #31
Hey @sfkeller, can you explain more? Dexter has a Dockerfile here: https://github.com/ankane/dexter/blob/master/Dockerfile

[2020-04-14 00:55] ankane commented on #32
Hey @sfkeller, thanks for the suggestion and the links! If there's an extension to add hypothetical statistics, I think Dexter could use the same approach it uses for indexes. I'm not sure how difficult hypothetical statistics are, but may be worth suggesting to HypoPG.

[2020-04-24 21:25] k2xl opened #33 "ERROR: could not access file "$libdir/hypopg": No such file or directory"
Getting `ERROR:  could not access file "$libdir/hypopg": No such file or directory`
when running
```tail -F -n +1 log/postgresql.log | dexter --min-cost-savings-pct 30```

[2020-04-24 21:31] ankane commented on #33
Hey @k2xl, this error means there's an issue with the HypoPG installation. Try reinstalling it.

[2020-04-24 21:58] k2xl commented on #33
Solved it by reinstalling hypopg, then DROP EXTENSION hypopg and CREATE EXTENSION again

[2020-04-24 21:58] #33 closed

[2020-04-24 21:59] k2xl opened #34 "Not finding tables"
I'm trying with min-percent 0, with debugging and sql log turned on seeing this in dexter logs:

[code]

I'm wondering if the regex can't find the `jhd_sooth` table since it's in the form `"public"."jhd_sooth"`?

[2020-04-25 00:28] ankane commented on #34
Hey @k2xl, can you paste the complete output for that query with `--log-sql --log-level debug2`? Dexter uses the Postgres parser to parse queries (thanks to pg_query) rather than regexes.

[2020-05-04 00:15] ankane commented on #31
Closing due to no response

[2020-05-04 00:15] #31 closed

[2020-05-04 00:16] #32 closed

[2020-05-04 00:21] sfkeller commented on #32
I'll suggest hypothetical statistics to HypoPG - and eventually come back to this issue, if there's any response over at HypoPG.

[2020-05-17 00:31] ankane commented on #34
Closing due to no response

[2020-05-17 00:31] #34 closed

[2020-07-28 21:47] tobwen opened #35 "syntax error at or near "MATERIALIZED""
## error
[code]

## how to reproduce
[code]

## environment
* latest Debian Buster
* PostgreSQL 12.3-1.pgdg100+1
* Ruby 2.5.5-3+deb10u2
* pgDexter 0.37.7
* pgQuery 1.2.0

[2020-07-29 04:45] ankane commented on #35
Hey @tobwen, thanks for reporting! It looks like Dexter is having trouble parsing one of the view definitions (not sure why on the of the views returned from `pg_views` would have `MATERIALIZED` in it). I pushed a change to log when this happens so it no longer throws an error. An updated Debian package should be available shortly so you can try it.

[2020-07-29 04:58] ankane commented on #35
It looks like there's currently an error with the packaging service. Will let you know when a new version is available.

[2020-07-29 07:11] ankane commented on #35
New package is published.

[2020-07-29 22:41] tobwen commented on #35
You did it. Thanks a lot!

[2020-07-29 22:41] #35 closed

[2020-09-22 10:20] gmekhrenin opened #36 "Build centos 7/8 rpm for version 0.3.8"
Hi.
In the repo now
Name        : dexter
Arch        : x86_64
Version     : **0.3.5**
Release     : 1596005490.d58c6650.centos7
Size        : 102 M
Repo        : installed
From repo   : dexter
Summary     : The automatic indexer for Postgres
URL         : http://example.com/no-uri-given
License     : unknown
Description : The automatic indexer for Postgres

[2020-09-25 05:59] ankane commented on #36
Thanks @gmekhrenin, looks like the previous build failed. Fixed now: https://packager.io/gh/pghero/dexter/

[2020-09-25 05:59] #36 closed

[2020-10-27 09:41] denizdogan opened #37 "Installation instructions don't work for CentOS 8"
[code]

It seems that for some reason `lsb_release -rs` is returning 8.2.2004 when it should be 8. I installed `lsb_release` using `dnf -y install redhat-lsb-core`, if that should matter.

[2020-10-27 10:59] denizdogan commented on #37
Same goes for Debian Stretch, it tries to download `https://dl.packager.io/srv/pghero/dexter/master/installer/debian/9.13.repo`

[2020-10-28 00:22] ankane commented on #37
Hey @denizdogan, thanks for reporting! Can you try replacing `$(lsb_release -rs)` with `$(. /etc/os-release && echo $VERSION_ID)`? If that works, will update the instructions.

[2020-10-28 08:47] denizdogan commented on #37
@ankane It seems to work for Debian! It's hard for me to try for CentOS now that I've switched my solution to be Debian-based. :)

[2020-10-28 08:55] #37 closed

[2020-10-28 08:56] ankane commented on #37
Great, thanks for confirming. It worked in the CentOS Docker image, so think it's safe to update.

[2020-10-28 11:08] denizdogan opened #38 "library not found for class Digest::SHA1 -- digest/sha1 (LoadError)"
For some reason, I keep getting the error "library not found for class Digest::SHA1 -- digest/sha1 (LoadError)" whenever I try to run dexter after installing it with apt-get. When I install it using `gem install pgdexter`, it works fine. I'm guessing this has something to do with some missing system dependency?

OS information:

[code]

Output:

[code]

Dockerfile:

[code]

[2020-10-28 22:47] ankane commented on #38
Hey @denizdogan, thanks for reporting. It looks like libssl is required. I'll either remove that dependency or specify it in the package. For now, on Debian Stretch, you can do:

[code]

[2020-10-29 10:44] denizdogan commented on #38
Thanks @ankane that does the trick!

[2020-11-06 18:16] cpj95 commented on #1
Is there support for AWS RDS running PostgreSQL yet?

[2020-11-24 02:26] ankane commented on #1
@brightball fwiw, just released a `--tablespace` option.

@cpj95 See the instructions in the readme for how to use Dexter with Amazon RDS.

[2020-11-24 02:35] ankane commented on #38
Added the dependency in 0.3.9 (building now). Thanks again for reporting!

[2020-11-24 02:35] #38 closed

[2020-12-15 08:10] shashidharreddy001 opened #39 "pghero not working on new installation"
On installation of pghero on centos 6 it is not working on one of the servers an getting errors in pghero logs

/opt/pghero/vendor/bundle/ruby/2.7.0/bin/puma:23:in `<top (required)>'

[14231] Puma starting in cluster mode...

[14231] * Version 5.0.4 (ruby 2.7.2-p137), codename: Spoony Bard

[14231] * Min threads: 1, max threads: 16

[14231] * Environment: production

[14231] * Process workers: 3

[2021-03-04 16:32] Rico1911 opened #40 "Not sure if its working"
Hi,

i am new to this, and since i had great performance results on mssql databases by using indexes i wondered about postgre as well. Now i installed dexter and so far this is the Result:

`-bash-4.2$ dexter --log-sql --log-level debug3
[sql] SELECT * FROM pg_available_extensions WHERE name = 'hypopg' AND installed_version IS NOT NULL
[sql] SET lock_timeout = '5s'
Started
Processing 0 new query f

[2021-03-11 06:03] ankane commented on #40
Hey @Rico1911, for the first example, it looks like there isn't any input (no stdin or log file). For the 2nd one, try changing `-p5432` to `-p 5432`.

[2021-04-01 06:47] #40 closed

[2022-08-03 19:23] levinotik opened #42 "Bad Request when installing command line tool on Ubuntu"
I am following the instructions [here](https://github.com/ankane/dexter) and am getting a `400`. Any ideas on how to resolve that?

[code]

[2022-08-03 19:24] levinotik commented on #42
Actually, could I just install the command line tool outside of the DB server? In my case, I'm running PG in a Docker container. If I'm able to run the CL tool on the host machine (my Mac), I can just do that.

[2022-08-03 20:07] ankane commented on #42
Hey @levinotik, for the 400 error, it looks like `$VERSION_ID` is `9` when it should be something like `20.04`. What does `cat /etc/os-release` show?

Also, the command line tool can be run on a separate machine from the database server, but the HypoPG extension needs to be installed on the database server (the `make` commands need to be run there).

[2022-08-03 22:55] levinotik commented on #42
Thanks for the reply @ankane Looks like `9` correct though:

[code]

[2022-08-03 23:05] ankane commented on #42
It looks like you're on Debian, so you'll want to follow the Debian instructions.

For HypoPG, try using `psql` to connect to the DB server with same credentials you're passing to Dexter and running the following to verify that it's installed:

[code]

(should return 0 rows)

[2022-08-04 04:41] levinotik commented on #42
@ankane hah I did realize that after I sent. Hadn't realized that HypoPG was available as a package using the PGDG packages, thanks a lot!

[2022-08-04 04:59] levinotik commented on #42
`SELECT * FROM hypopg_list_indexes;` does return 0 rows now and everything _seems_ to be setup correctly. When tailing the logs, all I see is `Processing 0 new query fingerprints`.

[code]

What am I doing wrong here? :)

[2022-08-05 20:12] ankane commented on #42
Great, glad it's working!

[2022-08-05 20:12] #42 closed